In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Load data
data = pd.read_csv('../../data/data.tsv', sep='\t', encoding='utf-8',
                  names=['qid', 'query', 'passage', 'label', 'pid'])

In [3]:
data.head()

,qid,query,passage,label,pid
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [4]:
# Take queries upto the query id 200 
# and their corresponding passages 
# for using as a sample
data_sample = data[data['qid'] < 200]

In [8]:
data_sample.head()

,qid,query,passage,label,pid
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [9]:
data_sample.tail()

,qid,query,passage,label,pid
3575620,196,why does a person waives pip coverage,"PIP coverage can include medical expenses, los...",0,8
3575621,196,why does a person waives pip coverage,"In such states PIP coverage is not mandated, g...",0,0
3575622,196,why does a person waives pip coverage,If you are in a state that doesnâ€™t require you...,0,4
3575623,196,why does a person waives pip coverage,"Alternatively, if your health insurance doesn'...",0,1
3575624,196,why does a person waives pip coverage,Personal Injury Protection coverage does not o...,0,7

In [12]:
len(set(data_sample['qid']))

162

In [14]:
# Save sample on the disk
data_sample.to_csv('../../data/data_sample.tsv', sep='\t', encoding='utf-8', index=False)

## Create Train and Validation Samples

In [3]:
def create_train_val_sets(tsv_path, trn_save, val_save, test_size=0.2, seed=42, cols=None):
    if cols:
        data = pd.read_csv(tsv_path, sep='\t', encoding='utf-8', names=cols)
    else:
        data = pd.read_csv(tsv_path, sep='\t', encoding='utf-8')
    trn, val = train_test_split(data, random_state=seed, test_size=test_size)
    trn.to_csv(trn_save, sep='\t', encoding='utf-8', index=False)
    val.to_csv(val_save, sep='\t', encoding='utf-8', index=False)
    print('Train and Valid sets created')

In [9]:
create_train_val_sets('../../data/data_sample.tsv',
                     '../../data/data_sample_trn.tsv',
                    '../../data/data_sample_val.tsv')

Train and Valid sets created

In [3]:
create_train_val_sets('../../data/data.tsv',
                     '../../data/data_trn.tsv',
                    '../../data/data_val.tsv')

Train and Valid sets created

In [4]:
create_train_val_sets('../../data/data_0.5_20.tsv',
                     '../../data/data_0.5_20_trn.tsv',
                    '../../data/data_0.5_20val.tsv')

Train and Valid sets created