In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/data.tsv', sep='\t', encoding='utf-8',
                  names=['qid', 'query', 'passage', 'label', 'pid'])

In [17]:
seed = 42

In [3]:
len(data)

5241880

In [4]:
data.head()

,qid,query,passage,label,pid
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [6]:
ones = data[data['label']==1]
zeros = data[data['label']==0]

In [7]:
len(ones)

524188

In [8]:
len(zeros)

4717692

In [18]:
ones_half = ones.sample(frac=0.5, random_state=42)

In [19]:
len(ones_half)

262094

In [20]:
len(ones_half) / len(zeros) * 3

0.16666666666666666

In [21]:
zeros_twenty = zeros.sample(frac=0.2, random_state=42)

In [22]:
len(zeros_twenty)

943538

In [25]:
df = pd.concat([ones_half, zeros_twenty], ignore_index=True)

In [27]:
df.head()

,qid,query,passage,label,pid
0,456645,where is miamitown ohio located,Miamitown is a census-designated place (CDP) i...,1,1
1,535439,which terminal is alaska airlines san diego,Alaska Airlines Needs to Open a Board Room in ...,1,2
2,34797,dihybrid cross definition,A Dihybrid Cross. A dihybrid cross is a cross ...,1,1
3,680179,foods to help with diarrhea,Though effective as a base to help treat diarr...,1,7
4,166698,incubation period for golden pheasants,The incubation period for pheasant eggs is 23-...,1,0

In [28]:
df = df.sample(frac=1).reset_index(drop=True)

In [29]:
df.head()

,qid,query,passage,label,pid
0,36369,how many kbs in gb,How many Kilobytes in a Gigabyte. 1 Gigabyte i...,1,4
1,302489,causes of cleft lip,Syndromes and Other Conditions. Sometimes a cl...,0,3
2,300396,how long suboxone stay detectable in urine,Suboxone can be detected through drug screenin...,0,8
3,250379,what is a drop kick,A drop kick is a type of kick in various codes...,1,0
4,469564,windows how to force display scaling,It has been reported that many games won’t run...,0,7

In [30]:
df.to_csv('../../data/data_0.5_20.tsv', sep='\t', encoding='utf-8', index=False, columns=None)